.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.nav-link.link-now {
  color: var(--brand-color);
}

/* Герой */
.hero {
  background-color: var(--bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: -webkit-center;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;

  color: #ffffff;

  margin-top: 0px;
  margin-bottom: 30px;
}

.hero-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
  border-radius: 4px;

  color: #ffffff;
  background-color: var(--brand-color);

  display: inline-block;
}

/* Преимущества */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: calc(-1 * var(--card-gap));
}

.feature-list .item {
  flex-basis: calc(100% / 4 - var(--card-gap));

  margin-right: var(--card-gap);
}

.feature-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-text {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Специализация команды */
.spec {
  padding-bottom: 94px;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  margin-right: calc(-1 * var(--card-gap));
}

.img-list .item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-right: var(--card-gap);
}

/* Команда */
.team-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;

  margin: 0px;
  margin-right: calc(-1 * var(--card-gap));
  padding: 0px;
}

.team-list .item {
  flex-basis: calc(100% / 4 - var(--card-gap));
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: var(--card-gap);

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.card .thumb {
  margin-bottom: 30px;
}

.card-text {
  padding-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
}

.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--second-color);

  margin-bottom: 10px;
  margin-top: 0px;
}

.team-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;

  margin-top: 0px;
  margin-bottom: 0px;
}

.section-team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}
